/*		

.container1 {
  width: 550px;
  display: block;
  margin: auto;
  position: relative;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #ffffff;
}

.menu_opener {
  display: none;
}

.menu_opener:checked ~ .link_one {
  top: 65px;
}
.menu_opener:checked ~ .link_two {
  left: 385px;
}
.menu_opener:checked ~ .link_three {
  top: 385px;
}
.menu_opener:checked ~ .link_four {
  left: 65px;
}
.menu_opener:checked ~ .barre_hamburger {
  opacity: 0;
}
.menu_opener:checked ~ .menu_opener_label:after {
  transform: rotate(45deg);
  top: 70px;
}
.menu_opener:checked ~ .menu_opener_label:before {
  transform: rotate(-45deg);
  top: 70px;
}

.menu_opener_label {
  background:  #f1c40f;
  width: 150px;
  height: 150px;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 10;
}
.menu_opener_label:after {
  position: absolute;
  top: 50px;
  left: 50px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu_opener_label:before {
  position: absolute;
  top: 90px;
  left: 50px;
  background: #000;
  content: "";
  width: 50px;
  height: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.barre_hamburger {
  width: 50px;
  height: 10px;
  position: absolute;
  top: 270px;
  left: 250px;
  background: #000;
  z-index: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.link_general {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 225px;
  left: 225px;
  background: #ecf0f1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.link_one {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAACVBMVEX///8AAAAAAAB+UaldAAAAAnRSTlMAgJsrThgAAAB+SURBVHhe3cyxjcMwFETBr8RFqBrWo2pYBBNOlZdy/4UGbMCb7QumPrprtPCaLdyriiM8O8PFiPBiRrhZER52cRIMToLJSbA4CTZBQBAQBAQBndAJndAJnTCSYCbBSoKdBEYSzCRYSbCTwEiCmQQrCXbJ+R+q8n45VP1CeH9/mC1fxjmFPCwAAAAASUVORK5CYII826f6fa0b1d2d29dd5b523f646d57d73") #ff0066 no-repeat center center;
}

.link_two {
  background: url("images/play.png") #ff0066 no-repeat center center;
}

.link_three {
  background: url("images/email.png") #ff0066 no-repeat center center;
}

.link_four {
  background: url("images/menu.png") #ff0066 no-repeat center center;
}
*/