@font-face {
  font-family: HelveticaInserat;
  src: url(/fonts/HelveticaInserat-Roman.otf);
}
body {
	font-family: 'HelveticaInsaret', Helvetica;
}
h1 {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 60px;
}
p{
	font-size: 20px;
}
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-caption {
  right: 20%;
  left: 20%;
  /* padding-bottom: 30px; */
  top: 40%;
}
/*.top-nav {
    
  }*/
  .top-bg {
   background-color:rgba(0,0,0,.3);
   position: absolute;
   z-index: 12;
   width: 100%;
 }
 .h1-border {
  height: 4px;
  background: #fff;
  width: 75%;
  margin: auto;

}
.text-border {
  height: 2px;
  background: #fff;
  width: 85%;
  margin: 2rem auto;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;;
}

/*.footer {
   position: fixed;
   left: 10%;
   bottom: 0;
   width: 80%;
   background-color: transparent;
   color: white;
   text-align: center;
   top: 80%;
   }*/

   .demo {
    right: 20%;
    left: 20%;
/*    padding-top: 220px;
*/    top: 30%;
}
.block1{

  background: rgba(255,255,255,0.6);
  color: #000000;
  width: 25%;
  padding: 10px; 
  left: 20%;
  width: 150px;
/*    float: left;
*/    height: 150px;
padding-top: 4%;
/*  margin: -9% 0 0 0;*/
margin: 10px;
border: 3px solid #ff0066;  
top: 40%;
display: inline-block;
}

.block2{

  background: rgb(255, 0, 102);
  color: #000000;
  width: 25%;
  padding: 10px; 
  left: 20%;
  width: 150px;
/*    float: left;
*/    height: 150px;
padding-top: 4%;
/*  margin: -9% 0 0 0;*/
margin: 10px;
border: 3px solid #000033;  
top: 40%;
display: inline-block;
}
.block3{

  background: rgba(0, 26, 51, 0.8);
  color: #ffffff;
  width: 25%;
  padding: 10px; 
  left: 20%;
  width: 150px;
/*    float: left;
*/    height: 150px;
padding-top: 4%;
/*  margin: -9% 0 0 0;*/
margin: 10px;
border: 3px solid #ffffff;  
top: 40%;
display: inline-block;
}
.block4{

  background: rgba(255, 26, 26, 0.8);
  color: #ffffff;
  width: 25%;
  padding: 10px; 
  left: 20%;
  width: 150px;
/*    float: left;
*/    height: 150px;
padding-top: 4%;
/*  margin: -9% 0 0 0;*/
margin: 10px;
border: 3px solid #73AD21;  
top: 40%;
display: inline-block;
}


/*    .floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}*/